<div id="heading">
    Login page
</div>
<form action="/users/create" method="POST">
    <label for="username">Name</label>
    <input id="username" type="text" name="name" required>
    <label for="useremail">Email</label>
    <input id="useremail" type="email" name="email" placeholder="abc@example.com" required>
    <label for="userpassword">Password</label>
    <input id="userpassword" type="password" name="password" required>
    <label for="userpassword">confirm password</label>
    <input id="confirm password" type="password" name="confirmpassword" required>
    <button type="submit">Login</button>
</form>

<p>
    <a href="/users/auth/google">Google sign-in/sign-up</sign-up></a>
</p

