body{
    margin: 0px;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #b82e1f 74%);
   #layout-main{
    
    height: 100%;
    margin-bottom: 300px;
   }
}

