#container{
    display:flex;
    flex-direction: column;
    height: 50 vh;
    background-color: 2px solid black;
    justify-content: center;
    #main{
        display: flex;
        flex-direction: column;
        padding:20px;
        background-color: 2px solid red;
    }
}