<!-- <link rel="stylesheet" href="/css/new_password.css">

<div id="container">
    <div id="main">
        <form action='/reset' method="POST">
            <label>New Password</label>
            <input type="password" name="password" placeholder="new password" required>
            <br>
            <label>Confirm Password</label>
            <input type="password" name="confirmpassword" placeholder="confirm password" required>
            <br>
            <input type="submit" value="resetpassword">
        
        </form>

    </div>

</div> -->

<!-- <div>
    <p>Hi <%= comment.user.name%></p>
    <br>
    <br>
    <p>Here is the link for reseting password<a href="<% user.accesstoken%>"></a></p>
    <br>
    <br>
    <p>Thanks!</p>
</div> -->